<h1>Categories Index</h1>

<p>
<ul>
  <% @categories.each do |category| %>
    <li>
      <%= image_tag category.image.url(:thumb) %><br>
    </li>
    <%= link_to category.name, category_path(category) %>
    <br>
  <% end %>
</ul>
</p>

